<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yi.mapper.ReplyMapper">
	
	<select id="list" resultType="ReplyVO">
		select * from reply where bno = #{bno}
		order by rno
	</select>
	<insert id="create">
		insert into reply (bno, user_id, reply_content, reply_writer, reply_open)
		values (#{bno}, #{userId}, #{replyContent}, #{replyWriter}, #{replyOpen})
	</insert>
	<update id="update">
		update reply set reply_content = #{replyContent}
		where rno=#{rno}
	</update>
	<delete id="delete">
		delete from reply where rno=#{rno}
	</delete>
	
	<select id="listPage" resultType="ReplyVO">
		select * from reply 
		where bno = #{bno}
		order by rno
		limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	
	<select id="totalCount" resultType="int">
		select count(bno) from reply where bno = #{bno}
	</select>
	
	<select id="selectByBno" resultType="ReplyVO">
		select * from reply where rno = #{rno}
	</select>
	
</mapper>